.App {
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}

.info_page {
  align-items: center;
  justify-content: center;
  margin-top: .7em;
  min-width: 350px;
  min-height: 100vh;
  background-color: #f0f2f5;
  width: 80%;
  /* margin-left: 500pxs;

  margin-right: 1em; */
}

.instance_header {
  font-weight: 500;
  color: black;
  text-align: left;
  font-size: 38px;
}

.instance_info {
  max-width: 930px;
  min-height: 700px;
  background-color: white;
  color: black;
  margin-bottom: 3rem;
  padding-bottom: 3rem;
}

.attribute_head {
  padding-top: .5em;
  font-size: 28px;
}

.instance_data {
  width: 85%;
  font-size: 28px;
}

.attribute_list {
  font-size: max(.7em, 18px);
}