.jobs {
  align-items: center;
  justify-content: center;
  text-align: left;
  white-space: pre-wrap;
  background-color: #f0f2f5;
  
  min-height: 100vh;
  width: 100vw;
}

.header {
  font-weight: 500;
  font-size: 38px;
  color: black;

  margin-left: 4vw;
  padding: 2vh 0;
}

.info {
  font-size: 18px;
  background-color: white;
  color: black;

  min-height: 700px;
  max-width: 100%;

  padding: 2vh 2vw;
}

.image {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map iframe {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}